<!-- Intro Header Text --> 
<div class="row">
	<h1 class="auto-header">Get a Clean Car</h1>
	<h2 class="auto-subtitle">Cleaner than the day you bought it.</h2>
</div>

<!-- Big Slider --> 
<div class="row">
	<div class="small-9 small-centered columns">
		<div class="flexslider">
		  <ul class="slides">
		    <li>
		    	<%= image_tag "bentley.jpg" %>
		    </li>
		    <li>
		      <%= image_tag "auto-slide-2.jpg" %>
		    </li>
		    <li>
		      <%= image_tag "auto-slide-4.jpg" %>
		    </li>
		    <li>
		      <%= image_tag "auto-slide-3.jpg" %>
		    </li>
		  </ul>
		</div><!-- Close flexslider div --> 
	</div>
</div>
