<!-- Intro Header Text --> 
<div class="row">
	<h1 class="auto-header">Get Started</h1>
	<h2 class="auto-subtitle">It's so easy.  You'll be glad you did.</h2>
</div>

<!-- Green Get Started section --> 
<div class="green">
	<div class="row">
		<div class="large-8 small-centered columns">
			<%= image_tag("video.png", class: 'home-video') %>
		</div>
	</div>
</div>

