<!-- Intro Header Text --> 
<div class="row">
	<h1 class="power-header">You Name It, We <span>Wash</span> It!</h1>
</div>


<!-- Commercial Hot and Cold Power Washing -->
<div class="review-wrapper">
	<div class="row">
		<h3 class="section-heading">Commercial Hot &amp; Cold Power Washing</h3>
	</div>

	<div class="row">
		<div class="commercial-wrapper">
			<div class="small-8 small-centered large-4 large-uncentered columns">
				<%= image_tag "power-1.jpg" %>
				<p class="power-commercial">Concrete Cleaning</p>
			</div>
		</div>
		

		<div class="commercial-wrapper">
			<div class="small-8 small-centered large-4 large-uncentered columns">
				<%= image_tag "power-2.jpg" %>
				<p class="power-commercial">Graffiti Removal</p>
			</div>
		</div>

		<div class="commercial-wrapper">
			<div class="small-8 small-centered large-4 large-uncentered columns">
				<%= image_tag "power-3.jpg" %>
				<p class="power-commercial">Gum and Oil Removal</p>
			</div>
		</div>
		
	</div>

	
</div> 