@import 'variables.css.scss';

/* Call to Action - Green Strip
================================================== */
div.call-wrapper {
	padding: 6em 0 2em 0;
}

p.green-dark {
	color: $darkGreen;
	text-align: center;
	font-size: 1.875em;
	text-transform: uppercase;
	font-weight: 200;
	font-family: 'PT Sans Narrow', 'PT Sans' "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

p.green-white {
	text-align: center;
	color: white;
	font-size: 4em;
	text-transform: uppercase;
	font-weight: 200;
	font-family: 'PT Sans Narrow', 'PT Sans' "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

/* Contact Form
================================================== */
div.contact-form-wrapper {
	margin-top: 5em;
}
div.contact-form {
	padding: 6em 0;
}

label.right.inline {
	color: $darkGray;
	text-transform: uppercase;
	font-size: 1.2em;
	padding-top: 1.2em;
}

input.contact-form-small, select {
	border: 1px solid $gray;
	@include box-shadow(none);
	color: $darkGray;
	font-family: 'PT Sans Narrow', 'PT Sans' "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	@include border-radius(2px);
}

select#message_services {
	@include border-radius(none);
}

textarea {
	height: 26em;
	@include border-radius(2px);
}

input.contact-form-submit {
	@include button($red, white, .4em 4em);
	cursor: pointer;
	font-weight: 200;
	font-size: 1.875em;
	font-family: 'PT Sans Narrow', 'PT Sans' "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	text-align: center;
	margin-top: 2em;
}