@import 'variables.css.scss';

/* Auto Detailing Articles
================================================== */

/* Big Articles - 2 per row */
div.article {
	background-color: $grayLight;
	border-right: 6px solid $red;
	padding: .75em;
}
img.article-landing-image {

}

a.article-landing-title {
	color: $textDarkBlue;
	font-family: 'PT Sans Narrow', 'PT Sans' "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 2.25em;
}

/* No Image Articles - 3 per row */
div.article-small {
	background-color: $grayLight;
}