@import 'variables.css.scss';

/* Auto Detailing Articles
================================================== */

/* Big Articles - 2 per row */
div.article {
	background-color: $grayLight;
	border-right: 6px solid $red;
	padding: .75em;
}
img.article-landing-image {

}

a.article-landing-title {
	color: $textDarkBlue;
	font-family: 'PT Sans Narrow', 'PT Sans' "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 2.25em;
}

/* No Image Articles - 3 per row */
div.article-small {
	background-color: $grayLight;
}


/* Articles
================================================== */
h1.education-article {
	margin: 9.5em 0 0 .3em;
	line-height: 2.5em;
	font-family: 'PT Sans Narrow', 'PT Sans' "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 3em;
	color: $textDarkGray;
}

p.education-article {
	margin-left: .5em;
	line-height: 1.875em;
	color: $textDarkGray;
	font-family: 'PT Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}