@import 'variables.css.scss';

/* Sections - colored... 
================================================== */
div.gray {
	background-color: $gray;
}

h1.gray {
	font-size: emCalc(30);
	color: $textGray;
	margin: 3em 0 -.5em 0;
	text-align: center;
	font-weight: 200;

}

div.green {
	background-color: $green;
}

h3.green {
	color: $grayLight;
	text-align: center;
	font-weight: 200;
	padding: 3em 0 2em 0;
	margin-top: 0;
}



/* Navigation
================================================== */
div.contain-to-grid {
	background: $white;
}

/* logo */
a#logo img {
	margin: 1.5em 0 2em 0;
	float: left;
}

/* navigation */
ul.right {
	background: $white;
	list-style-type: none;
	margin: 0;
	li {
		margin-left: .25em;
	}
}

.top-bar-section li a:not(.button), .top-bar-section ul li.active > a {
	background: $white;
	padding-top: 1.5em;
	&:hover {
		color: $green;
		border-top: .3em solid $green;
	}
}
.top-bar-section li a:not(.button) {
	padding-top: 1.75em;
	&:hover {
		padding-top: 1.5em;
	}
}

.top-bar-section ul li.active > a {
	border-top: .3em solid $green;
}

/* Get Started Button for header nav */
.top-bar-section li a:not(.button).get-started-button{
	color: $white;
	@include button($green, $white, .1em 1em);
	font-weight: normal;
	margin-top: 1.5em;
	&:hover {
		background-color: darken($green, 5%);
	}
}			


/* Phone Number */
li.phone-number {
	color: $blue;
	font-size: 1.05em;
	padding: 2.2em 0 0 .2em;
}

@media only screen and (max-width: 939px) { 
	/* Center Logo */
	div.logo {
		width: emCalc(143);
		margin: 1em auto;
		.img {
			max-width: 100%;
		}
	}

	/* Collapsed Navigation Styling */
	ul.right {
		border-top: 3px solid $green;
		border-bottom: 3px solid $green;
		li {
			text-align: center;
			margin: 0;
		}
	}
	.top-bar-section li a:not(.button), .top-bar-section ul li.active > a, .top-bar-section li a:not(.button).get-started-button {
	background: $white;
	color: $textInactive;
	border: none;
	padding: 1.5em 0 1.5em 0;
	margin: 0;
	&:hover {
		color: $white;
		background-color: $green;
		border: none;
		}
	}
	.top-bar-section ul li.active > a, .top-bar-section ul li.active a:not(.button).get-started-button {
		background-color: $green;
		color: $white;
	}
	li.phone-number {
		color: $blue;
		font-size: 1.1em;
		padding: 1.5em 0;
	}
}

/* Home Page
================================================== */

/* Home Page Intro */
h1.home-header {
	font-family: 'PT Sans Narrow', 'PT Sans' "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: emCalc(48);
	margin: 2em 0 .3em 0;
	text-align: center;
	color: $blue;
	font-weight: normal;
}

h2.home-subtitle {
	font-weight: 300;
	font-size: emCalc(20);
	line-height: emCalc(28);
	text-align: center;
	color: $textLight;
	margin-bottom: 4em;
}

a.big-button {
	@include button($green, $white, .5em 2em);
	font-size: emCalc(30);
	font-weight: 100;
	&:hover {
		background-color: darken($green, 5%);
	}
}

div.home-call {
	text-align: center;
	margin: 1em 0 8em 0;
}


/* Video Section */
img.home-video {
	margin: 5em auto;
}


/* Services Section */
h3.section-heading {
	text-transform: uppercase;
	color: $textDarkBlue;
	font-size: emCalc(24);
	text-align: center;
	margin: 5em 0 .5em 0;
	font-weight: 400;
}

h4.section-subheading {
	color: $textDarkBlue;
	font-size: emCalc(18);
	text-align: center;
	font-weight: 300;
}

div.empty-button {
	text-align: center;
	margin: 5em 0 8em 0;
}

a.empty-button {
	border: 2px solid $darkGray;
	padding: .75em 3em;
	font-family: 'PT Sans Narrow', 'PT Sans' "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: emCalc(30); 
	color: $textDark;
	@include border-radius(2px);
	&:hover {
		background-color: $green;
		color: $white;
		border: 2px solid $green;
	}
}

p.home-testimonial {
	margin: 5em 0 .5em 0;
	color: $textDarkBlue;
	font-size: emCalc(17);
	font-style: italic;
	padding: 0 4.75em;
}

p.home-testimonial-credit {
	margin: 0 0 5em 0;
	color: $textDarkBlue;
	font-size: emCalc(14);
}

/* Get Started Strip */
div.get-started {
	text-align: center;
	padding: 5em 0;
}

a.get-started {
	@include button($green, $white, .75em 4em);
	font-size: emCalc(24);
	font-weight: 100;
	&:hover {
		background-color: darken($green, 5%);
	}
}

/* Reviews */
div.review-wrapper {
	margin-bottom: 6em;
}

div.review {
	background-color: $grayLight;
	border-left: 5px solid $red;
	padding: 1em;
	margin: 2em 1em;
}

p.review {
	padding: .5em;
	color: $textDarkBlue;
	margin-bottom: .3em;
}

p.review-credit {
	margin: 0;
	color: $textDarkBlue;
	font-style: italic;
	padding: 0 0 .1em .5em;
}

/* Reasons to Choose Joels Mobile */
div.reason {
	background-color: darken($green, 8%);
	@include border-radius(2px);
	padding: 7.8em 1.5em 2em 1.5em;
	margin-bottom: 5em;
	position: relative;
	background-position: 50% 12%;
	background-repeat: no-repeat; 
	h4.reason, p.reason {
		text-align: center;
		color: $grayLight;
	}
	h4.reason {
		font-family: 'PT Sans Narrow', 'PT Sans' "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		letter-spacing: 1.5px;
		font-weight: 200;
		font-size: emCalc(24);
		margin-bottom: emCalc(15);
	}
	p.reason {
		font-size: emCalc(16);
		font-weight: 100;
	}
}

div.reason.busy {
	background-image: image-url("clock.png");
}

div.reason.heart {
	background-image: image-url("heart.png");
}

div.reason.trust {
	background-image: image-url("trust.png");
}

div.reason.convenience {
	background-image: image-url("convenience.png");
}


/* Before and After */
h3.compare {
	text-transform: uppercase;
	margin-top: 5em;
	margin-bottom: 1em;
	font-size: emCalc(24);
	font-weight: normal;
	text-align: center;
	color: $blue;
}

div.blue-box {
	background-color: $blue;
	height: emCalc(230);
	width: emCalc(360);
	text-align: center;
}

div.small-green-ball {
	background-color: $green;
	@include border-radius(50%);
	width: emCalc(7);
	height: emCalc(7);
}

div.bigger-green-ball {
	background-color: $green;
	@include border-radius(50%);
	width: emCalc(10);
	height: emCalc(10);
}

ul.compare {
	list-style-type: none;
	text-align: center;
	margin-top: 8em;
}

li.compare {
	display: inline;
	margin: 0 1em;
}

/* Footer - top half */
div.footer-top {
	border-top: 1px solid $gray;
	border-bottom: 1px solid $gray;
	margin: 5em 0 2em 0;
}

ul.footer {
	list-style-type: none;
	text-align: center;
	margin: 2.5em 0;
}

li.footer {
	display: inline;
	text-align: center;
	margin: 0 2em;
}

a.footer {
	color: $textInactive;
	&:hover {
		color: $green;
	}
}

li.footer.active > a {
	color: $green;
}

a.footer.get-started-button {
	color: $white;
	@include button($green, $white, .75em 1em);
	font-weight: normal;
	&:hover {
		background-color: darken($green, 5%);
	}
}

/* Footer - bottom half */
div.footer-bottom {
	margin: 4em 0;
}

p.phone {
	font-size: emCalc(30);
	color: $blue;
	text-align: center;
}

ul.social-contacts {
	list-style-type: none;
	text-align: center;
	margin: 1em 0;
}

li.social-contacts {
	display: inline;
	margin: 0 1em;
}